@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    font-family: "Montserrat";
    background-color: #111826;
    color: #F2B66D;
    margin: 0;
}

header{
   
    display: flex;

}
header>nav{
    /* box-sizing: content-box; */
    height: 70px;
    position: sticky;
}
header>nav>ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    flex-direction: row;
}
header>nav>ul>a{
    text-decoration: none;
}
header>nav>ul>a>li{

    padding: 20px 60px;
    margin: 0px 50px;
    text-align: center;
    height: 100%;
    font-size: large;
    color: #F2B66D;
}
header>nav>ul>a:hover{
    background-color: white;
}

header>nav>ul>li>a:hover{
    background-color: rgb(207, 207, 235);
}
.enlacesafotos{
    padding: 10%;
    background-color: cadetblue;
    text-align: center;
    margin: 10px 100px;
}
.enlacesafotos:hover{
    background-color: rgb(111, 204, 207);
}
#h2index{
    text-align: center;
    padding: 30px 0px;
    background-image: url(../assets/img/Fotobanner.jpg)
}
#botones{
    flex-direction: column;  
    display: flex;  
    align-content: space-around;
    margin: 50px 300px;
}
#botonarriba{
    position: fixed;
    left: 100%;
    border-radius: 50%;
    background-color: #F2B66D;
    color: #111826;
    text-decoration: none;

}