@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    flex-wrap: wrap;

}
body{
    font-family: "Montserrat";
    background-color: rgb(212, 211, 209);

}


header>nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    width: 100%;
}
.logo{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    padding-left: 20px;
    color: rgb(212, 211, 209);
    
}

.logo>a{
    text-decoration: none;
    color: rgb(212, 211, 209);
}

.logo>a:visited{
    color: rgb(212, 211, 209);
}

header>nav>ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    
}
header>nav>ul>a{
    text-decoration: none;
}
header>nav>ul>a>li{

    padding: 20px 60px;
    margin: 0px 50px;
    text-align: center;
    height: 100%;
    font-size: large;
    color: rgb(212, 211, 209);
}
header>nav>ul>a:hover{
    background-color: white;
    color: black;
}




 /* INDEX */



main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enlacesafotos{
    padding: 10%;
    text-align: center;
    margin: 10px 100px;
}

#h2index{
    text-align: center;
    padding: 30px 0px;

}
#botones{
    flex-direction: column;  
    display: flex;  
    align-content: space-between;
    margin: 50px 300px;
  
}
#botones>section{
    border-radius: 2%;
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: cadetblue
}
#botones>section>a{
    text-decoration: none;
}
#botones>section:hover{
    background-color: aliceblue;
}

/* PORTFOLIO */

img{
    width: 100%;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

.columna {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.columna>img {
    margin-top: 8px;
    vertical-align: middle;
}

.h3portfolio{
    text-transform: uppercase;
    letter-spacing: 20px;
    padding: 2% 0%;
}

@media (max-width: 768px) {
    .columna {
      flex: 50%;
      max-width: 50%;
    }
  }


@media (max-width: 480px) {
    .columna {
      flex: 100%;
      max-width: 100%;
    }
  }


/* Biografía */

#bio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#bio>article{
    width: 50%;
    text-indent: 2%;
    text-transform: initial;
    letter-spacing: 1px;
}
#bio>article>p:first-child::first-letter{
    font-size: 30px;
}

#bioimg{
    width: 25%;
    height: 50%;
    margin-top: 40px;
    border-radius: 5%;
}


/* Contacto */

#maincontacto {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#maincontacto>article>p{
    text-align: center;
}

#nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}

#nombre>form>input{
    width: 280px;
}


#nombre>h3{
    padding-bottom: 10px;
}

#checkbox{
    border: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#checkbox>form>input:last-child{
    width: 280px;
}

#checkbox>h3{
    padding: 15px 0px;
}
